/*
Android CSS Selectors
*/
/*------- Alert -------*/
.alert-alone .alert {
		/*margin:0 auto;*/
		/*position: relative;*/
		/*max-height:none;*/
	background:#414a5a;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	}
.alert-alone .dialog {
	position:absolute;
	background:none;
	}
.alert header {
	height:139px;
	overflow:hidden;
	background:url(images/pr-alert-logo.png) 50% 25px no-repeat;
	}
.alert header h1 {
	text-indent:-999px;
	overflow:hidden;
	}
.alert a,
.alert button,
.alert label,
.alert .carousel-prev,
.alert .carousel-next,
.mylib-billboard a,
.dialog-tint {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
.alert-t-slider .ab-content-in {
	padding-left:30px;
	padding-right:30px;
	}
.alert-t-slider .slidecontrols .carousel-prev {
	left:-30px;
	}
.alert-t-slider .slidecontrols .carousel-next {
	right:-30px;
	}

/*------- Fonts -------*/
/* Times */
@font-face {
    font-family: 'TeXGyreTermesRegular';
    src: url('fonts/texgyretermes-regular-webfont.eot');
    src: url('fonts/texgyretermes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyretermes-regular-webfont.woff') format('woff'),
         url('fonts/texgyretermes-regular-webfont.ttf') format('truetype'),
         url('fonts/texgyretermes-regular-webfont.svg#TeXGyreTermesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'TeXGyreTermesItalic';
    src: url('fonts/texgyretermes-italic-webfont.eot');
    src: url('fonts/texgyretermes-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyretermes-italic-webfont.woff') format('woff'),
         url('fonts/texgyretermes-italic-webfont.ttf') format('truetype'),
         url('fonts/texgyretermes-italic-webfont.svg#TeXGyreTermesItalic') format('svg');
    font-weight: normal;
    font-style: italic;
	}
@font-face {
    font-family: 'TeXGyreTermesBold';
    src: url('fonts/texgyretermes-bold-webfont.eot');
    src: url('fonts/texgyretermes-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyretermes-bold-webfont.woff') format('woff'),
         url('fonts/texgyretermes-bold-webfont.ttf') format('truetype'),
         url('fonts/texgyretermes-bold-webfont.svg#TeXGyreTermesBold') format('svg');
    font-weight: bold;
    font-style: normal;
	}
@font-face {
    font-family: 'TeXGyreTermesBoldItalic';
    src: url('fonts/texgyretermes-bolditalic-webfont.eot');
    src: url('fonts/texgyretermes-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyretermes-bolditalic-webfont.woff') format('woff'),
         url('fonts/texgyretermes-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/texgyretermes-bolditalic-webfont.svg#TeXGyreTermesBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
	}

/* Palatino */
@font-face {
    font-family: 'TeXGyrePagellaRegular';
    src: url('fonts/texgyrepagella-regular-webfont.eot');
    src: url('fonts/texgyrepagella-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyrepagella-regular-webfont.woff') format('woff'),
         url('fonts/texgyrepagella-regular-webfont.ttf') format('truetype'),
         url('fonts/texgyrepagella-regular-webfont.svg#TeXGyrePagellaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'TeXGyrePagellaItalic';
    src: url('fonts/texgyrepagella-italic-webfont.eot');
    src: url('fonts/texgyrepagella-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyrepagella-italic-webfont.woff') format('woff'),
         url('fonts/texgyrepagella-italic-webfont.ttf') format('truetype'),
         url('fonts/texgyrepagella-italic-webfont.svg#TeXGyrePagellaItalic') format('svg');
    font-weight: normal;
    font-style: italic;

	}
@font-face {
    font-family: 'TeXGyrePagellaBold';
    src: url('fonts/texgyrepagella-bold-webfont.eot');
    src: url('fonts/texgyrepagella-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyrepagella-bold-webfont.woff') format('woff'),
         url('fonts/texgyrepagella-bold-webfont.ttf') format('truetype'),
         url('fonts/texgyrepagella-bold-webfont.svg#TeXGyrePagellaBold') format('svg');
    font-weight: bold;
    font-style: normal;
	}
@font-face {
    font-family: 'TeXGyrePagellaBoldItalic';
    src: url('fonts/texgyrepagella-bolditalic-webfont.eot');
    src: url('fonts/texgyrepagella-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyrepagella-bolditalic-webfont.woff') format('woff'),
         url('fonts/texgyrepagella-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/texgyrepagella-bolditalic-webfont.svg#TeXGyrePagellaBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
	}

article.art {
	font-family: "Droid Serif", "DroidSerifRegular", serif;
	}
	.fontset1 article.art,
	.pop .fontset1 {
		font-family: "Droid Serif", "DroidSerifRegular", serif;
		}
	.fontset2 article.art,
	.pop .fontset2 {
		font-family: "Droid Sans", "DroidSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
	.fontset3 article.art,
	.pop .fontset3 {
		font-family: "Palatino Linotype", "Book Antiqua", "TeXGyrePagellaRegular", Palatino, serif;
		}
	.fontset4 article.art,
	.pop .fontset4 {
		font-family: "TeXGyreTermesRegular", "Times New Roman", Times, serif;
		}

.fontset1 .art h1,
.fontset1 .art h3 {
	font-family: "PTSansBold", "Droid Sans", "DroidSansBold", Arial, sans-serif;
	}
.fontset2 .art h1,
.fontset2 .art h3 {
	font-family: "PTSansBold", "Droid Sans", "DroidSansBold", Arial, sans-serif;
	}
.fontset3 .art h1,
.fontset3 .art h3 {
	font-family: "Palatino Linotype", "Book Antiqua", "TeXGyrePagellaBold", Palatino, serif;
	}
.fontset4 .art h1,
.fontset4 .art h3 {
	font-family: "TeXGyreTermesBold", "Times New Roman", Times, serif;
	}

/*====== Responsive Adjustments ======*/

@media (max-width: 570px) {
.alert header {
	height:93px;
	background-position:50% -119px;
	}
}
